{% extends 'giftletBundle::layout.html.twig' %}

{% block content %}

    {% block body -%}
        <h1>{{ entity.title }}</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{ entity.description }}</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td>{{ entity.cost }}</td>
                </tr>
                <tr>
                    <th>Total recieved so far</th>
                    <td>{{ entity.ContributionTotal }}</td>
                </tr>
            </tbody>
        </table>

            <ul class="record_actions">
        <li>
            <a href="{{ path('gift') }}">
                Back to the list
            </a>
        </li>
        {% if (app.security.getToken().getUser().getId() == entity.createdby) %}
        <li>
            <a href="{{ path('gift_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        {% endif %}
        <li>{{ form(delete_form) }}</li>
    </ul>
    {% endblock %}
{% endblock %}
